@(server: Server, cookbook: Cookbook, recipeForm: Form[Map[String, String]])

@import helper.twitterBootstrap._

@main("Server Info") {
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>private ip address</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>@server.id</td>
        <td>@server.ipAddr</td>
        <td>
          <a href="@controllers.server.routes.ServersController.edit(server.id)">
            EDIT
          </a>
        </td>
        <td>
          <a href="@controllers.server.routes.ServersController.delete_get(server.id)">
            DELETE
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  @helper.form(action = controllers.server.routes.ServersController.install(server.id)) {
    <div class="container">
      <fieldset>
        <legend>Configure with chef recipe</legend>
        @helper.select(recipeForm("recipe"),
          cookbook.recipes.toSeq.map { c => (c, c) },
          '_label -> "Select recipe"
        )
        <input type="submit" value="Install" class="btn btn-primary">
      </fieldset>
    </div>
  }
}